<div class="contents">
    <p>申請画面</p>
    <% if @request.confirming.blank? %>
        <!-- validate_error_messsage -->
        <%= render 'elements/validate_error_message', model:@request %>
        <!-- validate_error_messsage -->
        <!-- flash_notice_message -->
        <%= render partial: 'elements/flash_notice_message' %>
        <!-- flash_notice_message -->

        <%= form_with local: true, url: request_regist_path do |form| %>
            <table>
                <ul>
                    <li>
                        <%= form.label 'categories_name', '申請カテゴリー' %>
                        <%= collection_select(:requests, :category_id, @categories, :id, :name, {:include_blank => true}) %>
                    </li>
                    <li>
                        <%= form.label 'price', '金額' %>
                        <%= form.text_field 'requests[price]' %>
                    </li>
                    <li>
                        <%= form.label 'body', '申請理由' %>
                        <%= form.text_field 'requests[body]' %>
                    </li>
                    <li>
                        <%= form.label 'approver_user_name', '承認者' %>
                        <%= collection_select(:requests, :approver_id, @approver_useres, :id, :name, {:include_blank => true}) %>
                    </li>
                </ul>
            </table>
            <%= form.submit "確認" %>
        <% end %>
        <p><%= link_to "トップへ戻る", index_path %></p>
        <% else %>
        <p>申請確認画面</p>
        <%= form_with local: true, url: request_regist_path do |form| %>
            <table>
                <ul>
                    <li>
                        <%= form.label 'category_id', '申請カテゴリー' %>
                        <%= @request.category_id %>
                    </li>
                    <li>
                        <%= form.label 'price', '金額' %>
                        <%= @request.price %>
                    </li>
                    <li>
                        <%= form.label 'body', '申請理由' %>
                        <%= @request.body %>
                    </li>
                    <li>
                        <%= form.label 'approver_id', '承認者' %>
                        <%= @request.approver_id %>
                    </li>
                </ul>
            </table>
            <%= form.hidden_field 'requests[category_id]', :value => @request.category_id %>
            <%= form.hidden_field 'requests[price]', :value => @request.price %>
            <%= form.hidden_field 'requests[body]', :value => @request.body %>
            <%= form.hidden_field 'requests[approver_id]', :value => @request.approver_id %>
            <%= form.hidden_field 'requests[confirming]', :value => 1 %>
            <%= form.submit "申請" %>
        <% end %>
        <p><%= link_to "トップへ戻る", index_path %></p>
    <% end %>
</div>
