<div class="contents">
    <p>申請確認画面</p>
    <%= form_with local: true, url: request_complete_path do |form| %>
        <table>
            <ul>
                <li>
                    <%= form.label 'categories_name', '申請カテゴリー' %>
                    <%= @category %>
                </li>
                <li>
                    <%= form.label 'price', '金額' %>
                    <%= @price %>
                </li>
                <li>
                    <%= form.label 'body', '申請理由' %>
                    <%= @body %>
                </li>
                <li>
                    <%= form.label 'approver_user_name', '承認者' %>
                    <%= @approver_user %>
                </li>
            </ul>
        </table>
        <%= form.hidden_field :categories_name, :value => @category %>
        <%= form.hidden_field :price, :value => @price %>
        <%= form.hidden_field :body, :value => @body %>
        <%= form.hidden_field :approver_user, :value => @approver_user %>
        <%= form.submit "申請" %>
    <% end %>
    <p><%= link_to "トップへ戻る", index_path %></p>
</div>
