<div class="container">
    <p>申請一覧画面</p>
    
    <!-- flash_notice_message -->
    <%= render partial: 'elements/flash_notice_message' %>
    <!-- flash_notice_message -->

   <%# TODO 新規作成画面もまだ未実装 %>
   <button type="button" class="btn btn-success btn-lg btn-block">新規追加</button>
   <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">申請カテゴリーID</th>
            <th scope="col">カテゴリー名</th>
            <th scope="col">作成日時</th>
            <th scope="col">更新日時</th>
            <th scope="col">更新</th>
            <th scope="col">削除</th>
            </tr>
        </thead>
        <tbody>
        <% approver_id = current_user.id %>
            <% @categories.each_with_index do |category, index| %>
                <tr>
                    <th scope="row"><%= index+=1 %></th>
                    <td><%= category.id %></td>
                    <td><%= category.name %></td>
                    <td><%= category.created_at.in_time_zone('Tokyo') %></td>
                    <td><%= category.updated_at.in_time_zone('Tokyo') %></td>
                    <td>
                        <%# TODO form_withのurlとかまだ適当なのでupdateができる様にバックエンドを作成する %>
                        <%= form_with local: true, url: admin_request_approve_path do |form| %>
                            <%= form.submit '更新', :class=>"btn btn-primary", data: { disable_with: "送信中..." } %>
                        <% end %>
                    </td>
                    <td>
                        <%# TODO 削除もまだ未実バックエンド部分を作成する %>
                        <%= submit_tag "削除", class: "btn btn-danger" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <p><%= link_to "管理画面へ戻る", admin_index_path %></p>
</div>
