<div class="container">
    <p>申請一覧画面</p>
    
    <!-- flash_notice_message -->
    <%= render partial: 'elements/flash_notice_message' %>
    <!-- flash_notice_message -->
    
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">申請ID</th>
            <th scope="col">申請者</th>
            <th scope="col">申請カテゴリ</th>
            <th scope="col">承認者</th>
            <th scope="col">タイトル</th>
            <th scope="col">申請理由</th>
            <th scope="col">値段</th>
            <th scope="col">ステータス</th>
            <th scope="col">申請日時</th>
            </tr>
        </thead>
        <tbody>
            <% @requests.each_with_index do |req, index| %>
                <tr>
                    <th scope="row"><%= index+=1 %></th>
                    <td><%= req.id %></td>
                    <td><%= req.user.name %></td>
                    <td><%= req.request_category.name %></td>
                    <td><%= req.approver_id %></td>
                    <td><%= req.title %></td>
                    <td><%= req.body %></td>
                    <td><%= req.price.to_s(:delimited) %></td>
                    <% if req.approval_flg.eql?(0) %>
                        <td>未承認</td>
                    <% else %>
                        <td>承認済み</td>
                    <% end %>
                    <td><%= req.created_at.in_time_zone('Tokyo') %></td>
                    <td>
                        <%= form_with local: true, url: admin_request_approve_path do |form| %>
                            <%= form.hidden_field :id, value: req.id %>
                            <%= form.hidden_field :approver_id, value: current_user.id %>
                            <% if req.approval_flg.eql?(0) %>
                                <%= form.submit '承認', :class=>"btn btn-primary", data: { disable_with: "送信中..." } %>
                            <% else %>
                             <%= submit_tag "承認", disabled: true, class: "btn btn-primary" %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <p><%= link_to "管理画面へ戻る", admin_index_path %></p>
</div>
