<div class="contents">
    <p>ユーザー一覧画面</p>
    <table>
        <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>管理者</th>
        <th>ステータス</th>
        <th>最終ログイン日時</th>
        <th>作成日時</th>
        <th>更新日時</th>
        </tr>
        <% for user in @all_users do %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.admin %></td>
                <td><%= user.status_flg %></td>
                <td><%= user.last_login_timestamp %></td>
                <td><%= user.created_at %></td>
                <td><%= user.updated_at %></td>
            <tr>
        <% end %>
    </table>
</div>
