<div class="contents">
    <p>ユーザー一覧画面</p>
    <!-- flash_notice_message -->
    <%= render partial: 'elements/flash_notice_message' %>
    <!-- flash_notice_message -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">名前</th>
                <th scope="col">メールアドレス</th>
                <th scope="col">管理者</th>
                <th scope="col">ステータス</th>
                <th scope="col">最終ログイン日時</th>
                <th scope="col">作成日時</th>
                <th scope="col">更新日時</th>
                <th scope="col">更新</th>
                <th scope="col">削除</th>
            </tr>
        </thead>
        <tbody>
            <% for user in @all_users do %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <%if user.admin %>
                        <td>管理者</td>
                    <% else %>
                        <td>一般</td>
                    <% end %>
                    <%if not user.status_flg %>
                        <td>有効</td>
                    <% else %>
                        <td>無効</td>
                    <% end %>
                    <td><%= user.last_login_timestamp %></td>
                    <td><%= user.created_at %></td>
                    <td><%= user.updated_at %></td>
                    <td><%= link_to "編集", admin_user_edit_path(id: user.id) , :class=>"btn btn-primary" %></td>
                    <%= form_with local: true, url: admin_user_destroy_path(user.id), method: :delete do |form| %>
                        <td><%= form.button "削除", class: "btn btn-danger", data: { confirm: "本当に削除しますか？"} %></td>
                    <% end %>
                <tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to "管理画面へ戻る", admin_index_path %>
</div>
